
#h2{
    opacity: 1.0;
    background-color: #cddff0;
    color: #82B0D9;
    padding-left: 760px;
}

h1 {
    color: #82B0D9;
    padding-left: 800px;
    opacity: 1.0;
    background-color: #cddff0;
}
#e { 
    background-image: url('biblioteca.jpg');
    height: 300px;
 }
    
#tit{
    padding-top: 130px;

}

h1 {
    color: #82B0D9;
    opacity: 1.0;

   
}

#divzona {
    background-color: #cddff0;
}

#form {
    color: #82B0D9;
}

#txt {
    background-color: #cddff0;
    
}
body{
    background-color: #cddff0;
}
#usa {
    color: #82B0D9;
}